<footer class="footer">
  <div class="footer__container wrapper">
    <a href="#" class="footer__logo">
      <img class="footer__logo__image" src="img/common/footer__logo.png" alt="avocaco design">
    </a>

    <div class="footer__navi">
      <ul class="footer__navi__list">
        <li class="footer__navi__list__item"><a href="/about/index.html">（わたしのこと）</a></li>
        <li class="footer__navi__list__item"><a href="/works/index.html">（つくったもの）</a></li>
        <li class="footer__navi__list__item"><a href="#">（おといあわせ）</a></li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom">
    <img class="footer__bottom__line-pc" src="img/common/footer_line.png
        " alt="">
    <img class="footer__bottom__line-sp" src="img/common/sp-footer_line.png" alt="">
    <p class="footer__bottom__rights en">&copy; All Rights reserved.</p>
  </div>
</footer>