<!-- ヘッダー（共通） -->
  <header class="header">
    <div class="wrapper">
      <div class="header__container">
        <div class="header__inner">
          <h1 class="header__logo">
            <a href="/index.html">
              <img class="header__logo-img" src="/img/common/header_logo.png" alt="avocaco design">
            </a>
          </h1>
          <!-- ヘッダーナビゲーション -->
          <nav class="header__nav">
            <ul class="header__list">
              <li class="header__item__about hover__bg"><a href="/about">（わたしのこと）</a></li>
              <li class="header__item__works hover__bg"><a href="/works">（つくったもの）</a></li>
              <li class="header__item__contact"><a href="#contact">おといあわせ</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- SPメニュー -->
      <div class="sp-menu">
        <nav class="sp-menu__nav">
          <ul class="sp-menu__list">
            <li class="item__about"><a href="/about">（わたしのこと）</a></li>
            <li class="item__works"><a href="/works">（つくったもの）</a></li>
            <li class="item__contact"><a href="#contact">おといあわせ</a></li>
          </ul>
        </nav>
        <div class="sp-menu__bottom">
          <a href="/index.html"><img src="/img/common/footer__logo.png" alt="avocaco design"></a>
        </div>
      </div>

      <!-- ハンバーガーボタン -->
      <div class="toggle-btn">
        <div class="toggle-btn__inner">
          <span></span>
          <span></span>
          <span></span>
          <p class="menu en">MENU</p>
        </div>
      </div>

    </div>
  </header>
